In [179]:
import requests
import dill as pickle
import pandas as pd
from bs4 import BeautifulSoup
from random import randint
import time

with open("comp_actor_movies.pkl", 'r') as picklefile: 
    comp_actor_movies = pickle.load(picklefile)
    
col = ['date', 'date_url', 'movie', 'movie_url', 'studio', 'studio_url', 'gross', 'gross_url', 'theaters_g', 'theaters_g_url', 'opening', 'opening_url', 'theaters_o', 'theaters_o_url', 'rank', 'rank_url','name']
comp_actor_df = pd.DataFrame(comp_actor_movies, columns = col)
comp_actor_df['date'] = pd.to_datetime(comp_actor_df['date'])
comp_actor_df = comp_actor_df[comp_actor_df.date != 'N/A']
comp_actor_df['gross'] = (comp_actor_df['gross'].replace('[\$,)]','', regex=True).replace( '[(]','-', regex=True ).convert_objects(convert_numeric=True).astype(float))
comp_actor_df['name'] = comp_actor_df['name'].str.replace('*', '')
calc_comp_actor_df = comp_actor_df[['name','movie','date','gross']]
calc_comp_actor_df.set_index(['date'], inplace = True)

def gross_by_day(start, end, number_of_days, actor_frame, actor_name):
    ts = pd.DataFrame(index=pd.date_range(start, end)).sort_index(ascending = True)
    ts.index.name = 'date'
    df = actor_frame[['gross']].sort_index(ascending = True)
    df_new = pd.merge(left=ts, right=df, how='left', left_index=True, right_index=True)
    df_new['gross'].fillna(0, inplace=True)
    df_before = df_new.shift(periods=1)
    #df_after = df_new
    df_before_sum = pd.rolling_sum(df_before, number_of_days)
    df_before_sum.rename(columns={'gross':'net_gross_before'},inplace=True)
    #df_after_count = pd.rolling_count(df_after, number_of_days)
    #df_after_count.rename(columns={'gross':'total_movies_after'},inplace=True)
    df_after = df_new.shift(periods=-number_of_days)
    #df_after = df_new.sort_index(ascending = False)
    df_after_sum = pd.rolling_sum(df_after, number_of_days)
    df_after_sum.rename(columns={'gross':'net_gross_after'},inplace=True)
    #df_before_count = pd.rolling_count(df_before, number_of_days)
    #df_before_count.rename(columns={'gross':'total_movies_before'},inplace=True)
    df_final = pd.concat([df_after_sum, df_before_sum],axis=1) #df_after_count, df_before_count
    return df_final

def concat_delta_gross(name_list, total_frame):
    col = ['name', 'movie', 'date', 'gross','net_gross_after', 'net_gross_before']
    concat = pd.DataFrame(columns = col)
    concat.set_index(['date'], inplace = True)
    for name in name_list:
        actor_frame = calc_comp_actor_df[calc_comp_actor_df['name'] == name]
        single_actor_gross = gross_by_day('1/1/1950', '12/12/2015', 365, actor_frame, name)
        #actor_frame.set_index(['date'], inplace = True)
        df_new = pd.merge(left=actor_frame, right=single_actor_gross, how='left', left_index=True, right_index=True)
        concat = concat.append(df_new)
    return concat

list_of_actors = list(set(calc_comp_actor_df['name'].tolist()))    
df = concat_delta_gross(list_of_actors, calc_comp_actor_df)

In [176]:
def gross_by_day(start, end, number_of_days, actor_frame, actor_name):
    ts = pd.DataFrame(index=pd.date_range(start, end)).sort_index(ascending = True)
    ts.index.name = 'date'
    df = actor_frame[['gross']].sort_index(ascending = True)
    df_new = pd.merge(left=ts, right=df, how='left', left_index=True, right_index=True)
    df_new['gross'].fillna(0, inplace=True)
    df_before = df_new.shift(periods=1)
    #df_after = df_new
    df_before_sum = pd.rolling_sum(df_before, number_of_days)
    df_before_sum.rename(columns={'gross':'net_gross_before'},inplace=True)
    #df_after_count = pd.rolling_count(df_after, number_of_days)
    #df_after_count.rename(columns={'gross':'total_movies_after'},inplace=True)
    df_after = df_new.shift(periods=-number_of_days)
    #df_after = df_new.sort_index(ascending = False)
    df_after_sum = pd.rolling_sum(df_after, number_of_days)
    df_after_sum.rename(columns={'gross':'net_gross_after'},inplace=True)
    #df_before_count = pd.rolling_count(df_before, number_of_days)
    #df_before_count.rename(columns={'gross':'total_movies_before'},inplace=True)
    df_final = pd.concat([df_after_sum, df_before_sum],axis=1) #df_after_count, df_before_count
    return df_final

def concat_delta_gross(name_list, total_frame):
    col = ['name', 'movie', 'date', 'gross','net_gross_after', 'net_gross_before']
    concat = pd.DataFrame(columns = col)
    concat.set_index(['date'], inplace = True)
    for name in name_list:
        actor_frame = calc_comp_actor_df[calc_comp_actor_df['name'] == name]
        single_actor_gross = gross_by_day('1/1/1950', '12/12/2015', 365, actor_frame, name)
        #actor_frame.set_index(['date'], inplace = True)
        df_new = pd.merge(left=actor_frame, right=single_actor_gross, how='left', left_index=True, right_index=True)
        concat = concat.append(df_new)
    return concat

list_of_actors = list(set(calc_comp_actor_df['name'].tolist()))    
df = concat_delta_gross(list_of_actors, calc_comp_actor_df)

In [193]:
#calc_comp_actor_df = calc_comp_actor_df.set_index('date').head()
df

,name,movie,gross,net_gross_after,net_gross_before
2008-07-11,Josh Hartnett,August,12636,0,42741569
2007-10-19,Josh Hartnett,30 Days of Night,39568996,12636,3172573
2007-08-24,Josh Hartnett,Resurrecting the Champ,3172573,39581632,22545080
2006-09-15,Josh Hartnett,The Black Dahlia,22545080,3172573,22531472
2006-04-14,Josh Hartnett,Mozart and the Whale,36006,22545080,22495466
2006-04-07,Josh Hartnett,Lucky Number Slevin,22495466,22581086,0
2005-04-01,Josh Hartnett,Sin City,74103820,0,13001257
2004-09-03,Josh Hartnett,Wicker Park,13001257,74103820,0
2003-06-13,Josh Hartnett,Hollywood Homicide,30940691,0,0
2002-03-01,Josh Hartnett,40 Days and 40 Nights,37950822,0,330564478
2001-12-28,Josh Hartnett,Black Hawk Down,108638745,37950822,221925733
2001-08-31,Josh Hartnett,O,16025437,146589567,205900296
2001-05-25,Josh Hartnett,Pearl Harbor,198542554,162615004,7357742
2001-04-27,Josh Hartnett,Town & Country,6719973,361157558,637769
2001-03-09,Josh Hartnett,Blow Dry,637769,367877531,15428397
2000-04-21,Josh Hartnett,The Virgin Suicides,4906229,637769,10522168
2000-03-24,Josh Hartnett,Here on Earth,10522168,5543998,0
1998-12-25,Josh Hartnett,The Faculty,40283321,0,55041738
1998-08-07,Josh Hartnett,Halloween: H20,55041738,40283321,0
2015-03-20,Shailene Woodley,The Divergent Series: Insurgent,130179072,NaN,275854066
2014-10-24,Shailene Woodley,White Bird in a Blizzard,33821,130179072,275820245
2014-06-06,Shailene Woodley,The Fault in our Stars,124872350,130212893,157802506
2014-03-21,Shailene Woodley,Divergent,150947895,255085243,6854611
2013-08-02,Shailene Woodley,The Spectacular Now,6854611,275820245,0
2011-11-16,Shailene Woodley,The Descendants,82584160,0,0
2015-07-31,Helena Bonham Carter,The Young & Prodigious T.S. Spivet,100160,NaN,201151353
2015-03-13,Helena Bonham Carter,Cinderella (2015),201151353,NaN,0
2013-11-08,Helena Bonham Carter,Great Expectations (2013),258656,0,238111885
2013-07-03,Helena Bonham Carter,The Lone Ranger,89302115,258656,148809770
2012-12-25,Helena Bonham Carter,Les Miserables (2012),148809770,89560771,79727149
...,...,...,...,...,...
2007-06-01,Adam Scott,Knocked Up,148768917,0,7964715
2007-03-23,Adam Scott,First Snow,214864,148768917,11046988
2006-11-10,Adam Scott,The Return,7749851,148983781,15891835
2006-05-05,Adam Scott,Art School Confidential,3297137,7964715,95525999
2005-12-30,Adam Scott,The Matador,12594698,11046988,82931301
2005-05-13,Adam Scott,Monster-in-Law,82931301,15891835,102610330
2004-12-17,Adam Scott,The Aviator,102610330,82931301,21230276
2004-05-07,Adam Scott,Off the Lip,15217,102610330,21215059
2004-01-16,Adam Scott,Torque,21215059,102625547,0
2002-04-05,Adam Scott,High Crimes,41543917,0,0
1996-11-22,Adam Scott,Star Trek: First Contact,92027888,0,9336886
1996-03-08,Adam Scott,Hellraiser 4: Bloodline,9336886,92027888,0
2011-07-29,Noah Ringer,Cowboys & Aliens,100240551,0,0
2010-07-01,Noah Ringer,The Last Airbender,131772187,0,0
2015-06-12,Mia Wasikowska,Madame Bovary,44235,NaN,860748
2015-02-27,Mia Wasikowska,Maps to the Stars,350741,NaN,2589947
2014-09-19,Mia Wasikowska,Tracks (2014),510007,394976,2079940
2014-05-09,Mia Wasikowska,The Double (2014),200406,860748,1879534
2014-04-11,Mia Wasikowska,Only Lovers Left Alive,1879534,1061154,0
2013-03-01,Mia Wasikowska,Stoker,1714221,0,37400127
2012-08-29,Mia Wasikowska,Lawless,37400127,1714221,3177961
2012-01-27,Mia Wasikowska,Albert Nobbs,3014696,37400127,11405925
2011-09-16,Mia Wasikowska,Restless (2011),163265,40414823,11242660
2011-03-11,Mia Wasikowska,Jane Eyre,11242660,3177961,20811365
2010-07-09,Mia Wasikowska,The Kids Are All Right,20811365,11242660,348717875
2010-03-05,Mia Wasikowska,Alice in Wonderland (2010),334191110,20811365,14526765
2009-11-06,Mia Wasikowska,That Evening Sun,281350,355002475,42890228
2009-10-23,Mia Wasikowska,Amelia,14245415,355283825,28644813
2008-12-31,Mia Wasikowska,Defiance,28644813,14526765,10452
2008-04-25,Mia Wasikowska,Rogue,10452,28644813,0

In [148]:
actor_frame = calc_comp_actor_df[calc_comp_actor_df['name'] == 'Nicolas Cage']
#actor_frame['name'] = 'whatever'

In [71]:
#df = concat_delta_gross(['Nicolas Cage'], calc_comp_actor_df)
#df.sort()
#actor_frame.set_index('date')
#df_new = pd.merge(left=actor_frame, right=single_actor_gross, how='left', left_index=True, right_index=True)

In [208]:
comparison_nc_df = calc_comp_actor_df[calc_comp_actor_df['name'] == 'Nicolas Cage']
comparison_nc_df = comparison_nc_df['movie']
nc_dates = list(comparison_nc_df.index)

In [157]:
comparison_movie_df

                name              movie      date      gross
10751      Sean Bean  National Treasure  11/19/04  173008894
11044     Jon Voight  National Treasure  11/19/04  173008894
11217  Justin Bartha  National Treasure  11/19/04  173008894
12790   Nicolas Cage  National Treasure  11/19/04  173008894

In [189]:
comparison_actor_df = calc_comp_actor_df[calc_comp_actor_df['name'] == 'Jon Voight']
comparison_actor_df['other name'] = 'fred'
comparison_actor_df

/Users/johnwalters/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app

,name,movie,gross,NC Movie,other name
date,,,,,
8/30/13,Jon Voight,Getaway (2013),10501938,False,fred
11/26/08,Jon Voight,Four Christmases,120146040,False,fred
10/24/08,Jon Voight,Pride & Glory,15740721,False,fred
10/3/08,Jon Voight,An American Carol,7013191,False,fred
12/21/07,Jon Voight,National Treasure: Book of Secrets,219964115,True,fred
8/24/07,Jon Voight,September Dawn,1066555,False,fred
8/3/07,Jon Voight,BRATZ,10010209,False,fred
7/3/07,Jon Voight,Transformers,319246193,False,fred
1/13/06,Jon Voight,Glory Road,42647449,False,fred
11/19/04,Jon Voight,National Treasure,173008894,True,fred
8/27/04,Jon Voight,Super Babies: Baby Geniuses 2,9219388,False,fred
7/30/04,Jon Voight,The Manchurian Candidate,65955630,False,fred
4/18/03,Jon Voight,Holes,67406573,False,fred
12/25/01,Jon Voight,Ali,58203105,False,fred
9/28/01,Jon Voight,Zoolander(Cameo),45172250,False,fred
6/15/01,Jon Voight,Lara Croft: Tomb Raider,131168070,False,fred
5/25/01,Jon Voight,Pearl Harbor,198542554,False,fred
8/27/99,Jon Voight,A Dog of Flanders,2165637,False,fred
1/15/99,Jon Voight,Varsity Blues,52894169,False,fred
12/18/98,Jon Voight,The General (1998),1214198,False,fred
11/20/98,Jon Voight,Enemy of the State,111549836,False,fred
11/21/97,Jon Voight,The Rainmaker (1997),45916769,False,fred
10/10/97,Jon Voight,Most Wanted,6391946,False,fred
10/3/97,Jon Voight,U-Turn,6682098,False,fred
4/11/97,Jon Voight,Anaconda,65885767,False,fred
2/21/97,Jon Voight,Rosewood,13130349,False,fred
5/22/96,Jon Voight,Mission: Impossible,180981856,False,fred
12/15/95,Jon Voight,Heat,67436818,False,fred
4/18/86,Jon Voight,Desert Bloom,416393,False,fred
12/6/85,Jon Voight,Runaway Train,7683620,False,fred
2/18/83,Jon Voight,Table for Five,2439705,False,fred
10/8/82,Jon Voight,Lookin' to Get Out,946461,False,fred
4/4/79,Jon Voight,The Champ,30441738,False,fred
2/15/78,Jon Voight,Coming Home,32653905,False,fred
5/25/69,Jon Voight,Midnight Cowboy,44785053,False,fred

In [209]:
calc_comp_actor_df['NC Movie'] = calc_comp_actor_df[['movie']].isin(nc_dates)
calc_comp_actor_df

/Users/johnwalters/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,name,movie,gross,NC Movie
date,,,,
7/11/08,Josh Hartnett,August,12636,False
10/19/07,Josh Hartnett,30 Days of Night,39568996,False
8/24/07,Josh Hartnett,Resurrecting the Champ,3172573,False
9/15/06,Josh Hartnett,The Black Dahlia,22545080,False
4/14/06,Josh Hartnett,Mozart and the Whale,36006,False
4/7/06,Josh Hartnett,Lucky Number Slevin,22495466,False
4/1/05,Josh Hartnett,Sin City,74103820,False
9/3/04,Josh Hartnett,Wicker Park,13001257,False
6/13/03,Josh Hartnett,Hollywood Homicide,30940691,False
3/1/02,Josh Hartnett,40 Days and 40 Nights,37950822,False
12/28/01,Josh Hartnett,Black Hawk Down,108638745,False
8/31/01,Josh Hartnett,O,16025437,False
5/25/01,Josh Hartnett,Pearl Harbor,198542554,False
4/27/01,Josh Hartnett,Town & Country,6719973,False
3/9/01,Josh Hartnett,Blow Dry,637769,False
4/21/00,Josh Hartnett,The Virgin Suicides,4906229,False
3/24/00,Josh Hartnett,Here on Earth,10522168,False
12/25/98,Josh Hartnett,The Faculty,40283321,False
8/7/98,Josh Hartnett,Halloween: H20,55041738,False
3/20/15,Annette Bening,Danny Collins,5637066,False
3/7/14,Annette Bening,The Face of Love,350006,False
7/19/13,Annette Bening,Girl Most Likely,1378591,False
3/15/13,Annette Bening,Ginger & Rosa,1012973,False
7/25/12,Annette Bening,Ruby Sparks,2540106,False
7/9/10,Annette Bening,The Kids Are All Right,20811365,False
5/7/10,Annette Bening,Mother and Child,1110509,False
9/12/08,Annette Bening,The Women (2008),26902075,False
10/20/06,Annette Bening,Running with Scissors,7022827,False
10/15/04,Annette Bening,Being Julia,7739049,False
8/15/03,Annette Bening,Open Range,58331254,False
...,...,...,...,...
4/5/02,Adam Scott,High Crimes,41543917,False
11/22/96,Adam Scott,Star Trek: First Contact,92027888,False
3/8/96,Adam Scott,Hellraiser 4: Bloodline,9336886,False
7/29/11,Noah Ringer,Cowboys & Aliens,100240551,False
7/1/10,Noah Ringer,The Last Airbender,131772187,False
12/25/14,Seth Rogen,The Interview (2014),6105175,False
5/9/14,Seth Rogen,Neighbors,150157400,False
6/12/13,Seth Rogen,This is the End,101470202,False
12/19/12,Seth Rogen,The Guilt Trip,37134215,False
6/29/12,Seth Rogen,Take This Waltz,1239692,False
9/30/11,Seth Rogen,50/50,35014192,False
5/26/11,Seth Rogen,Kung Fu Panda 2(Voice),165249063,False
3/18/11,Seth Rogen,Paul(Voice),37412945,False
1/14/11,Seth Rogen,The Green Hornet,98780042,False
7/31/09,Seth Rogen,Funny People,51855045,False
4/10/09,Seth Rogen,Observe and Report,24007324,False
3/27/09,Seth Rogen,Monsters Vs. Aliens(Voice),198351526,False
10/31/08,Seth Rogen,Zack and Miri Make a Porno,31457946,False
8/6/08,Seth Rogen,Pineapple Express,87341380,False
7/25/08,Seth Rogen,Step Brothers(Cameo),100468793,False
6/6/08,Seth Rogen,Kung Fu Panda(Voice),215434591,False
3/14/08,Seth Rogen,Dr. Seuss' Horton Hears a Who!(Voice),154529439,False
2/14/08,Seth Rogen,The Spiderwick Chronicles(Voice),71195053,False
8/17/07,Seth Rogen,Superbad,121463226,False
6/1/07,Seth Rogen,Knocked Up,148768917,False
5/18/07,Seth Rogen,Shrek the Third(Voice),322719944,False
7/14/06,Seth Rogen,"You, Me and Dupree",75628110,False
8/19/05,Seth Rogen,The 40-Year-Old Virgin,109449237,False
7/9/04,Seth Rogen,Anchorman: The Legend of Ron Burgundy,85288303,False
10/26/01,Seth Rogen,Donnie Darko,1270522,False

In [160]:
comparison_actor_df

             name                               movie      date      gross
11035  Jon Voight                      Getaway (2013)   8/30/13   10501938
11036  Jon Voight                    Four Christmases  11/26/08  120146040
11037  Jon Voight                       Pride & Glory  10/24/08   15740721
11038  Jon Voight                   An American Carol   10/3/08    7013191
11039  Jon Voight  National Treasure: Book of Secrets  12/21/07  219964115
11040  Jon Voight                      September Dawn   8/24/07    1066555
11041  Jon Voight                               BRATZ    8/3/07   10010209
11042  Jon Voight                        Transformers    7/3/07  319246193
11043  Jon Voight                          Glory Road   1/13/06   42647449
11044  Jon Voight                   National Treasure  11/19/04  173008894
11045  Jon Voight       Super Babies: Baby Geniuses 2   8/27/04    9219388
11046  Jon Voight            The Manchurian Candidate   7/30/04   65955630
11047  Jon Voight                               Holes   4/18/03   67406573
11048  Jon Voight                                 Ali  12/25/01   58203105
11049  Jon Voight                    Zoolander(Cameo)   9/28/01   45172250
11050  Jon Voight             Lara Croft: Tomb Raider   6/15/01  131168070
11051  Jon Voight                        Pearl Harbor   5/25/01  198542554
11052  Jon Voight                   A Dog of Flanders   8/27/99    2165637
11053  Jon Voight                       Varsity Blues   1/15/99   52894169
11054  Jon Voight                  The General (1998)  12/18/98    1214198
11055  Jon Voight                  Enemy of the State  11/20/98  111549836
11056  Jon Voight                The Rainmaker (1997)  11/21/97   45916769
11057  Jon Voight                         Most Wanted  10/10/97    6391946
11058  Jon Voight                              U-Turn   10/3/97    6682098
11059  Jon Voight                            Anaconda   4/11/97   65885767
11060  Jon Voight                            Rosewood   2/21/97   13130349
11061  Jon Voight                 Mission: Impossible   5/22/96  180981856
11062  Jon Voight                                Heat  12/15/95   67436818
11063  Jon Voight                        Desert Bloom   4/18/86     416393
11064  Jon Voight                       Runaway Train   12/6/85    7683620
11065  Jon Voight                      Table for Five   2/18/83    2439705
11066  Jon Voight                  Lookin' to Get Out   10/8/82     946461
11067  Jon Voight                           The Champ    4/4/79   30441738
11068  Jon Voight                         Coming Home   2/15/78   32653905
11069  Jon Voight                     Midnight Cowboy   5/25/69   44785053

In [205]:
def gross_by_day(start, end, number_of_days, actor_frame, actor_name):
    ts = pd.DataFrame(index=pd.date_range(start, end)).sort_index(ascending = True)
    ts.index.name = 'date'
    df = actor_frame[['gross']].sort_index(ascending = True)
    df_new = pd.merge(left=ts, right=df, how='left', left_index=True, right_index=True)
    df_new['gross'].fillna(0, inplace=True)
    df_before = df_new.shift(periods=1)
    #df_after = df_new
    df_before_sum = pd.rolling_sum(df_before, number_of_days)
    df_before_sum.rename(columns={'gross':'net_gross_before'},inplace=True)
    #df_after_count = pd.rolling_count(df_after, number_of_days)
    #df_after_count.rename(columns={'gross':'total_movies_after'},inplace=True)
    df_after = df_new.shift(periods=-number_of_days)
    #df_after = df_new.sort_index(ascending = False)
    df_after_sum = pd.rolling_sum(df_after, number_of_days)
    df_after_sum.rename(columns={'gross':'net_gross_after'},inplace=True)
    #df_before_count = pd.rolling_count(df_before, number_of_days)
    #df_before_count.rename(columns={'gross':'total_movies_before'},inplace=True)
    df_final = pd.concat([df_after_sum, df_before_sum],axis=1) #df_after_count, df_before_count
    return df_final

def concat_delta_gross(name_list, total_frame, comparison_frame):
    col = ['name', 'movie', 'date', 'gross','net_gross_after', 'net_gross_before']
    concat = pd.DataFrame(columns = col)
    concat.set_index(['date'], inplace = True)
    for name in name_list:
        actor_frame = calc_comp_actor_df[calc_comp_actor_df['name'] == name]
        single_actor_gross = gross_by_day('1/1/1950', '12/12/2015', 365, actor_frame, name)
        #actor_frame.set_index(['date'], inplace = True)
        #df_new = pd.merge(left=actor_frame, right=single_actor_gross, how='left', left_index=True, right_index=True)
        col = ['date']
        comparison_dates = pd.DataFrame(columns = col)
        comparison_dates['date'] = comparison_frame.index
        df_new = pd.merge(left=comparison_dates, right=single_actor_gross, how='left', left_index=True, right_index=True)
        df_new['name'] = name
        concat = concat.append(df_new)
    return concat

comparison_nc_df = calc_comp_actor_df[calc_comp_actor_df['name'] == 'Nicolas Cage']
comparison_nc_df = comparison_nc_df['movie']
nc_dates = list(comparison_nc_df.index)
calc_comp_actor_df['NC Movie'] = calc_comp_actor_df[['movie']].isin(nc_dates)
#calc_comp_actor_df
list_of_actors = list(set(calc_comp_actor_df['name'].tolist()))    
df = concat_delta_gross(list_of_actors, calc_comp_actor_df, nc_dates)

/Users/johnwalters/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

TypeError: Argument 'left' has incorrect type (expected numpy.ndarray, got Index)

In [204]:
df

          date gross movie              name net_gross_after net_gross_before
date
0      10/3/14   NaN   NaN     Josh Hartnett             NaN              NaN
1      4/11/14   NaN   NaN     Josh Hartnett             NaN              NaN
2      3/22/13   NaN   NaN     Josh Hartnett             NaN              NaN
3      9/14/12   NaN   NaN     Josh Hartnett             NaN              NaN
4      3/16/12   NaN   NaN     Josh Hartnett             NaN              NaN
5      2/17/12   NaN   NaN     Josh Hartnett             NaN              NaN
6     10/14/11   NaN   NaN     Josh Hartnett             NaN              NaN
7      2/25/11   NaN   NaN     Josh Hartnett             NaN              NaN
8       1/7/11   NaN   NaN     Josh Hartnett             NaN              NaN
9      7/14/10   NaN   NaN     Josh Hartnett             NaN              NaN
10     4/16/10   NaN   NaN     Josh Hartnett             NaN              NaN
11    11/20/09   NaN   NaN     Josh Hartnett             NaN              NaN
12    10/23/09   NaN   NaN     Josh Hartnett             NaN              NaN
13     7/24/09   NaN   NaN     Josh Hartnett             NaN              NaN
14     3/20/09   NaN   NaN     Josh Hartnett             NaN              NaN
15      9/5/08   NaN   NaN     Josh Hartnett             NaN              NaN
16    12/21/07   NaN   NaN     Josh Hartnett             NaN              NaN
17     4/27/07   NaN   NaN     Josh Hartnett             NaN              NaN
18      4/6/07   NaN   NaN     Josh Hartnett             NaN              NaN
19     2/16/07   NaN   NaN     Josh Hartnett             NaN              NaN
20      9/1/06   NaN   NaN     Josh Hartnett             NaN              NaN
21      8/9/06   NaN   NaN     Josh Hartnett             NaN              NaN
22     7/28/06   NaN   NaN     Josh Hartnett             NaN              NaN
23    10/28/05   NaN   NaN     Josh Hartnett             NaN              NaN
24     9/16/05   NaN   NaN     Josh Hartnett             NaN              NaN
25    11/19/04   NaN   NaN     Josh Hartnett             NaN              NaN
26     9/12/03   NaN   NaN     Josh Hartnett             NaN              NaN
27    12/27/02   NaN   NaN     Josh Hartnett             NaN              NaN
28     12/6/02   NaN   NaN     Josh Hartnett             NaN              NaN
29     6/14/02   NaN   NaN     Josh Hartnett             NaN              NaN
...        ...   ...   ...               ...             ...              ...
32      6/9/00   NaN   NaN  Shailene Woodley             NaN              NaN
33    10/22/99   NaN   NaN  Shailene Woodley             NaN              NaN
34     2/26/99   NaN   NaN  Shailene Woodley             NaN              NaN
35      8/7/98   NaN   NaN  Shailene Woodley             NaN              NaN
36     4/10/98   NaN   NaN  Shailene Woodley             NaN              NaN
37     6/27/97   NaN   NaN  Shailene Woodley             NaN              NaN
38      6/6/97   NaN   NaN  Shailene Woodley             NaN              NaN
39      6/7/96   NaN   NaN  Shailene Woodley             NaN              NaN
40    10/27/95   NaN   NaN  Shailene Woodley             NaN              NaN
41     4/21/95   NaN   NaN  Shailene Woodley             NaN              NaN
42     12/2/94   NaN   NaN  Shailene Woodley             NaN              NaN
43     7/29/94   NaN   NaN  Shailene Woodley             NaN              NaN
44     3/11/94   NaN   NaN  Shailene Woodley             NaN              NaN
45     1/28/94   NaN   NaN  Shailene Woodley             NaN              NaN
46     10/8/93   NaN   NaN  Shailene Woodley             NaN              NaN
47      3/5/93   NaN   NaN  Shailene Woodley             NaN              NaN
48     8/28/92   NaN   NaN  Shailene Woodley             NaN              NaN
49     8/17/90   NaN   NaN  Shailene Woodley             NaN              NaN
50     5/25/90   NaN   NaN  Shailene Woodley             NaN              NaN
51      6/2/89   NaN   NaN  Shailene Woodley             NaN              NaN
52    12/18/87   NaN   NaN  Shailene Woodley             NaN              NaN
53     3/13/87   NaN   NaN  Shailene Woodley             NaN              NaN
54    10/10/86   NaN   NaN  Shailene Woodley             NaN              NaN
55     1/17/86   NaN   NaN  Shailene Woodley             NaN              NaN
56    12/21/84   NaN   NaN  Shailene Woodley             NaN              NaN
57    12/14/84   NaN   NaN  Shailene Woodley             NaN              NaN
58     3/23/84   NaN   NaN  Shailene Woodley             NaN              NaN
59     10/8/83   NaN   NaN  Shailene Woodley             NaN              NaN
60     4/29/83   NaN   NaN  Shailene Woodley             NaN              NaN
61     8/13/82   NaN   NaN  Shailene Woodley             NaN              NaN

[124 rows x 6 columns]

In [216]:
ts = pd.DataFrame(index=pd.date_range('1/1/1990', '1/1/2015')).sort_index(ascending = True)

In [215]:
ts1 = pd.DataFrame(index=ts.loc[nc_dates]

KeyError: "None of [[u'10/3/14', u'4/11/14', u'3/22/13', u'9/14/12', u'3/16/12', u'2/17/12', u'10/14/11', u'2/25/11', u'1/7/11', u'7/14/10', u'4/16/10', u'11/20/09', u'10/23/09', u'7/24/09', u'3/20/09', u'9/5/08', u'12/21/07', u'4/27/07', u'4/6/07', u'2/16/07', u'9/1/06', u'8/9/06', u'7/28/06', u'10/28/05', u'9/16/05', u'11/19/04', u'9/12/03', u'12/27/02', u'12/6/02', u'6/14/02', u'8/17/01', u'12/22/00', u'6/9/00', u'10/22/99', u'2/26/99', u'8/7/98', u'4/10/98', u'6/27/97', u'6/6/97', u'6/7/96', u'10/27/95', u'4/21/95', u'12/2/94', u'7/29/94', u'3/11/94', u'1/28/94', u'10/8/93', u'3/5/93', u'8/28/92', u'8/17/90', u'5/25/90', u'6/2/89', u'12/18/87', u'3/13/87', u'10/10/86', u'1/17/86', u'12/21/84', u'12/14/84', u'3/23/84', u'10/8/83', u'4/29/83', u'8/13/82']] are in the [index]"